./data/*
*CONTCAR
*EIGENVAL
*POTCAR
*OUT
*KPOINTS
*sh
*PCDAT
*INCAR
*POSCAR*
*XDATCAR
*WAVECAR
*CHG*
*CHGCAR
*REPORT
*DOSCAR
*stdout
*IBZKPT
*OSZICAR
*OUTCAR
*xml
*TST*
*npy
*xyz
*sdf
*pkl
*gzip
*json
*dat
*git 
*gz