./data/*
*CONTCAR
*EIGENVAL
*POTCAR
*OUT
*KPOINTS
*sh
*PCDAT
*INCAR
*POSCAR*
*XDATCAR
*WAVECAR
*CHG*
*db
*NOT_CONVERGED
*old*
*bib
*.CHRG
*tex
*md
*pdf
*postera*
*xz
*.UHF
*h5
*zip
*CHGCAR
*REPORT
*DOSCAR
*checkpoint
*stdout
*npz
*IBZKPT
*OSZICAR
*OUTCAR
*xml
*TST*
*index
ckpt*
*out
*npy
*xyz
*sdf
*smi
*pkl
*gzip
*json
*dat
*git 
*gz
*pyc
*txt
*PKG-INFO
*pyc
*csv
*ckpt
*log
*wandb
*yaml
*ipynb
*tfevents*
qtaim_embed.egg-info/not-zip-safe
*lmdb-lock
*png
*pt
*.lmdb-lock
*.lmdb